{% extends 'fpbapp/index.html' %}

{% block title %}删除订单{% endblock %}

{% block content %}

    <div class="container">
        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4">
                <div style="height: 100px"></div>
                <div class="card shadow  text-center" >
                    <div class="card-header">
                        <div class="text-title">
                            <h3>你确定要删除这个订单吗？</h3>
                        </div>
                    </div>
                    <div class="card-body">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th scope="col">Customer</th>
                                    <th scope="col">Product</th>
                                    <th scope="col">Status</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>{{ order.customer }}</td>
                                    <td>{{ order.product }}</td>
                                    <td>{{ order.status }}</td>
                                </tr>
                            </tbody>
                        </table>
                        <form action="{% url 'deleteorder' order.id %}" method="post">
                            {% csrf_token %}
                            <div class="row">
                                <div class="col-md-6">
                                    <a href='{% url 'homepage' %}'>
                                    <button type="button" class="btn btn-danger ">取消</button>
                                    </a>
                                </div>
                                <div class="col-md-6">
                                    <a href=''>
                                    <button type="submit" class="btn btn-success ">确定</button>
                                    </a>
                                </div>
                            </div>
                        </form>

                    </div>
                </div>
            </div>
            <div class="col-md-4"></div>
        </div>
    </div>



{% endblock %}